<%inherit file="menu.html"/>

<%block name="body_block">
    <h1>Lease Detail</h1>
    <br/>
    <h3>${l.lease} - ${l.client}</h3>
    <br/>
    <div>
        ${l.id}
        ${l.net_id}
        ${l.lease}
        ${l.starts}
        ${l.ends}
        ${l.cltt}
        ${l.binding}
        ${l.next}
        ${l.rewind}
        ${l.hardware}
        ${l.uid}
        ${l.client}
  <!--      <table>
            <tr>
                <th>Port Number</th>
                <th>Port Status</th>
            </tr>
        % for port in ports:
            <tr>
                <td>${port.port_num}</td>
                <td>${port.port_stat}</td>
            </tr>
        % endfor
        </table>
    </div>    -->
    <a href="/delete/host/${l.id}">Delete Lease</a>
</%block>
